
.form-content{
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 5px;
}
.bf-container {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid grey;
}