.login{
    background: url('../../assets/wallpaper.jpg');
    width: 100%;
    height: 100%;
    position: relative;

    .login-container{
        position: absolute;
        width: 400px;
        height: 250px;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }

}