
.site-card-border-less-wrapper {
    padding: 20px;
}

.ant-row{
    width: 100%;
    background-color: #fff;
  }
  
.form-content{
    padding: 30px;
}

.ant-steps{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.steps-action{
    display: flex;
    justify-content: center;
}